include ../../globals/data
include ../../node_modules/bemto.pug/bemto
include ../blocks/all

block params
	- var pageStyle = 'light'

doctype html
html
	head
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
		link(rel="stylesheet" href="style.css")
		title Main test page 
	body
		block content
		script(src="/assets/app.js")
