include ../../node_modules/bemto.pug/bemto
include ../blocks/all


doctype html
html
	head
		link(rel="stylesheet" href="style.css")
	body
		h1 Document title
		block content
		script(src="/assets/app.js")
