include header/header
include footer/footer
include intro/intro
include about01/about01
include slider/slider
include about02/about02
include howitworks/howitworks
include advantages/advantages
include prices/prices
include about03/about03
include reviews/reviews
include faq/faq
include video/video
include try/try