-

  var globals = {
    countries : ["Виберіть", "Ukraine", "Cyprus", "England"],
    regions : ["Виберіть", "region 1", "region 2", "region 3"]
  }

  var cart = [
    {
      productName: 'product-1',
      productDescription: 'somesmall description',
      productPrice: '12'
    },
    {
      productName: 'product-2',
      productDescription: 'somesmall description',
      productPrice: '5'
    }
  ]