-
	var globals = {
		footer: {
			menu: [{
			title: 'About',
			url: '/'
		},{
			title: 'Leaders',
			url: '/'
		},{
			title: 'Our solutions',
			url: '/'
		},{
			title: 'Services',
			url: '/'
		},{
			title: 'Vacancy',
			url: '/'
		},{
			title: 'Contact',
			url: '/'
		}],
		},
		header: {
			logo: '/assets/img/logo/logo-w.svg',
		},
		menu: [{
			title: 'About',
			url: '/'
		},{
			title: 'Leaders',
			url: '/'
		},{
			title: 'Our solutions',
			url: '/'
		},{
			title: 'Services',
			url: '/'
		},{
			title: 'Vacancy',
			url: '/'
		},{
			title: 'Contact',
			url: '/'
		}],
	}