.section
  // min-height 100vh
  // border: 1px solid green;
  // &_white
  //   background-color $bgColorLight
  //   color $textColorDark
  // &_dark
  //   background-color $bgColorDark
  //   color $textColorLight
  // &__wrap
  //   margin 0 auto
  //   max-width 1400px
  //   &_wide
  //     max-width 1400px
  //   &_narrow
  //     max-width 880px