-
  var comments = [
    {
      userName: 'DinosaurFaceOverlord',
      userPic: 'http://www.iconarchive.com/download/i67059/iconcreme/halloween/Hat.ico',
      alt: 'user image',
      date: '14 days ago',
      comment: 'Three cheers for bert! <br> Hip hip..',
      children: [
        {
          userName: 'stetsonaw',
          userPic:'https://pbs.twimg.com/profile_images/917412247109959681/LGYucs39.jpg',
          alt: 'user image',
          date: '12 days ago',
          comment: 'Three cheers for bert! <br> Hip hip..'
        },
        {
          userName: 'katkelly57',
          userPic: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGzYhOcLvA6p1UvTqqQxxlEXqogChdKJCdpKR3NhE9K7BH8zyd9A',
          alt: 'user image',
          date: '11 days ago',
          comment: 'Three cheers for bert! <br> Hip hip..',
          children: [
            {
              userName: 'Gendalf',
              userPic: 'https://pbs.twimg.com/profile_images/917412247109959681/LGYucs39.jpg',
              alt: 'user image',
              date: '10 days ago',
              comment: 'Three cheers for bert! <br> Hip hip..'
            },
            {
              userName: 'AlfondoGonz',
              userPic: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw3Zr1k2q1_GCUyNFpeHWyMLhCpDSJ-7rteZkfBWQ3Tp5ZYuLZ',
              alt: 'user image',
              date: '9 days ago',
              comment: 'Three cheers for bert! <br> Hip hip..',
                children: [
              {
                userName: 'Gendalf',
                userPic: 'https://pbs.twimg.com/profile_images/917412247109959681/LGYucs39.jpg',
                alt: 'user image',
                date: '10 days ago',
                comment: 'Three cheers for bert! <br> Hip hip..'
              }]
            },
            {
              userName: 'ShadrachSmith',
              userPic: 'https://pbs.twimg.com/profile_images/917412247109959681/LGYucs39.jpg',
              alt: 'user image',
              date: '8 days ago',
              comment: 'Three cheers for bert! <br> Hip hip..'
            }
          ]
        },
      ]
    }
  ]
  
mixin commentBlock(items, parentIndex, parentUser)
  each item, index in items 
  
    +b.comment
        +e.user-img
          img(src=item.userPic)
          
        +e.details
          - currentIndex  = index + 1 +'. '
          if parentIndex
            - currentIndex = parentIndex + currentIndex
            | 
            
          +e.identification
          +e('span').num= currentIndex
            | 
            +b.user-name= item.userName
            +e.date= item.date
          
          +e.text!= item.comment
          
          +e.additionals
            +e('span').ancor
              a(href="#") Reply
            +e('span').ancor
              a(href="#") Share
              
          if item.children && item.children.length
            +commentBlock(item.children, currentIndex, item.userName)
              

html.no-js(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Comments
    link(rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css")
  body
    
      +commentBlock(comments)