.comment {
    display: flex;
    align-items: flex-start;
    margin: 20px;

    &__identification {
        display: flex;
        align-items: center;

        span {
            margin-right: 5px;
        }

        div:nth-of-type(n+2) {
            margin-left: 10px;
        }
    }

    &__additionals {
        
    }
    
    &__ancor {
        a {
            margin-right: 5px;
            background-color: transparent;
            color: #2199e8;
            text-decoration: none;
            transition: .3s ease-in-out;
            cursor: pointer;
            
            &:hover {
                color: red;
            }

        }
        
        
    }

    &__date {
        font-size: 10px;
        color: #ccc;
    }

    &__user {
        &-name {
            font-size: 14px;
            font-weight: bold;
            color: lightblue;
        }

        &-img {
            width: 70px;
            height: 70px;
            margin-right: 10px;

            img {
                max-width 100%
                display: block;
            }
        }
    }
}