extends layouts/articleLayout

append articleParams
	- title = 'My Article name'
	- visualImage = '/assets/i/my-visual.jpg'

block articleContent
	p asdfasdfasdfasdf
	p asdfasdfasdfasdf
	ul
		li asdfasdfasdfasdf
		
