extends main

block main

		+b.section._dark
			+e.wrap._narrow
				+b-comment(items, parentIndex, parentUser)

		+b.section._white
			+e.wrap._narrow
				+b-about01()

		+b.section._white
			+e.wrap._wide
				+b-slider()

		+b.section._dark
			+e.wrap._wide
				+b-about02()

		+b.section._dark
			+e.wrap._wide
				+b-how-it-works()

		+b.section._white
			+e.wrap._narrow
				+b-advantages()

		+b.section._dark
			+e.wrap._wide
				+b-prices()

		+b.section._white
			+e.wrap._wide
				+b-about03()

		+b.section._dark
			+e.wrap._wide
				+b-reviews()

		+b.section._dark
			+e.wrap._wide
				+b-faq()

		+b.section._white
			+e.wrap._wide
				+b-video()

		+b.section._white
			+e.wrap._narrow
				+b-try()

